body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar-con-imagen-de-fondo {
  background-image: url(image/Wayfair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.custom_bkb-color{
  background-color:whitesmoke;
}


/* Efectos de Imagen */

.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block; /* o cualquier otro display que necesites */
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  /* Gradiente lineal en los cuatro bordes */
  background: linear-gradient(transparent, whitesmoke) top,
              linear-gradient(transparent, whitesmoke) right,
              linear-gradient(transparent, whitesmoke) bottom,
              linear-gradient(transparent, whitesmoke) left;
  background-size: 100% 20px, 20px 100%, 100% 20px, 20px 100%; /* Tamaño del desenfoque en los bordes */
  background-repeat: no-repeat;
  pointer-events: none;
}

.image-blur {
  position: relative;
  z-index: 0;
  display: block; /* quitar el espacio extra debajo de la imagen */
}

.color_H1{
  color: #1F64A7;
}